.footer-section {
  margin-top: 1.6em;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  background-color: rgba(128, 128, 128, 0.156);
}
.about-info > p {
  margin-bottom: 1em;
  font-size: 20px;
  font-weight: 700;
}
.about-info > h4 {
  max-width: 500px;
  font-weight: 500;
  line-height: 2;
  margin-bottom: 1em;
}
.home {
  display: flex;
}
.home > p {
  margin-left: 0.8em;
  margin-bottom: 2em;
}
.phone {
  display: flex;
  margin-bottom: 2em;
}
.phone > p {
  margin-left: 0.8em;
}
.gmail {
  display: flex;
  margin-bottom: 2em;
}
.gmail > p {
  margin-left: 0.8em;
}
.socials {
  cursor: pointer;
  display: flex;
  max-width: 200px;
  justify-content: space-between;
}
@media screen and (max-width: 878px) {
  .footer-section {
    flex-direction: column;
    gap: 40px;
    padding-left: 30px;
  }
}
