.main-header-section {
  position: fixed;
  background-color: black;
  padding: 1em 1.2em 1em 1.2em;
  width: 100%;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
}
.main-header-section h1 {
  font-weight: 700;
  font-size: 25px;
}
.navLists {
  display: flex;
  margin-right: 2.5em;
}
.navLists li {
  margin-left: 1.3em;
}
.navLists li a {
  font-size: 1.2rem;
  font-weight: 500;
}
.hamburger-section {
  display: none;
}
.active {
  border-bottom: 2px solid white;
}
@media screen and (max-width: 1040px) {
  .navLists {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    transition: 0.4s;
    z-index: -3;
    background-color: black;
  }

  .navLists li {
    padding: 1rem 0;
  }
  .navLists li a {
    font-size: 1.5rem;
  }
  .hamburger-section {
    display: initial;
  }
  .main-header-section {
    margin-right: 0.5em;
  }
}
