.mask {
  position: relative;
  width: 100%;
  height: 100%;
}
.about-content {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.mask::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.8;
}
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(248, 217, 15);
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 1.3px;
}
.aboutImg > img {
  align-self: center;
  height: 300px;
  border-radius: 50%;
}
.aboutText > h4 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 1em;
}
.aboutText > h4 {
  max-width: 700px;
  text-align: center;
  line-height: 3;
}
.btn-light {
  background: transparent;
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  letter-spacing: 1.3px;
}
.aboutText > button {
  margin-top: 1em;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}
.aboutText button {
  width: 200px;
  margin: 0 auto;
  justify-self: center;
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(248, 217, 15);
  margin-top: 0.6em;
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 1.3px;
}
.aboutText > button:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}

.content {
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}
.content h1 {
  font-size: 3rem;
  padding: 0.6rem 0 1.5rem;
}
.content p {
  text-transform: uppercase;
  font-size: 18px;
}
.content .btn {
  margin: 1rem 0.2rem;
}
@media screen and (max-width: 678px) {
  .hero-img {
    height: 100vh;
  }
  .content h1 {
    font-size: 2rem;
  }
  .about-content {
    flex-direction: column;
    gap: 20px;
  }
}
